aside.onebox {
  &.musicbrainzartist,
  &.musicbrainzdiscid,
  &.musicbrainzevent,
  &.musicbrainzinstrument,
  &.musicbrainzlabel,
  &.musicbrainzplace,
  &.musicbrainzrecording,
  &.musicbrainzrelease,
  &.musicbrainzreleasegroup,
  &.musicbrainzseries,
  &.musicbrainzwork  {
    .source {
      background: url("/plugins/musicbrainz-onebox/images/musicbrainz.png") no-repeat 0 2px;
      padding-left: 20px;
    }

    h3 {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    figure {
      max-height: 80%;
      max-width: 20%;
      height: auto;
      float: left;
      margin: 0 10px 0 0;

      img {
        margin-right: 0;
        max-width: 100%;
        max-height: 100%;
      }

      figcaption {
        font-size: 0.8em;
        text-align: center;

        .image-source {
          &, &:link, &:visited {
            color: #919191;
          }
        }
      }
    }

    .external-links {
      float: right;

      a > img {
        margin: 0;
        float: none;
      }
    }

    .disambiguation {
      color: #919191;
      font-weight: normal;
    }
  }
}
