{{#image}}
<a href="{{link}}"><img src="{{image}}" class="thumbnail"/></a>
{{/image}}

<div class="external-links">
  <a href="https://acousticbrainz.org/{{id}}">
    <img src="/plugins/musicbrainz-onebox/images/acousticbrainz.png"
      alt="AB" title="AcousticBrainz">
  </a>
  <a href="https://critiquebrainz.org/recording/{{id}}">
    <img src="/plugins/musicbrainz-onebox/images/critiquebrainz.png"
      alt="CB" title="CritiqueBrainz">
  </a>
</div>

<h3>
  <a href="{{link}}">{{title}}</a>
  {{#disambiguation}}
  <span class="disambiguation">({{disambiguation}})</span>
  {{/disambiguation}}
</h3>

<p>
  {{type}}
  {{#work}} of <a href="{{work_url}}">{{work}}</a>{{/work}}
  {{#artist}} by {{artist}}{{/artist}}
  {{#duration}}<br>Duration: {{duration}}{{/duration}}
</p>
