{{#image}}
<a href="{{link}}"><img src="{{image}}" class="thumbnail"/></a>
{{/image}}

<div class="external-links">
  {{#external_links}}
    <a href="{{url}}">
      <img src="/plugins/musicbrainz-onebox/images/{{icon}}"
        alt="{{alt}}" title="{{title}}" width="16" height="16">
    </a>
  {{/external_links}}
</div>

<h3>
  <a href="{{link}}">{{title}}</a>
  {{#disambiguation}}
  <span class="disambiguation">({{disambiguation}})</span>
  {{/disambiguation}}
</h3>

<p>
  {{type}}
  {{#work}} of <a href="{{work_url}}">{{work}}</a>{{/work}}
  {{#artist}} by {{artist}}{{/artist}}
  {{#duration}}<br>Duration: {{duration}}{{/duration}}
</p>
