{{#image}}
<figure>
  <a href="{{link}}"><img src="{{image}}" class="thumbnail"/></a>
{{#image_source}}<figcaption>
    <a href="{{image_source}}" class="image-source">{{image_source_label}}</a>
  </figcaption>{{/image_source}}
</figure>
{{/image}}

<div class="external-links">
  <a href="https://critiquebrainz.org/release-group/{{releasegroup_id}}">
    <img src="/plugins/musicbrainz-onebox/images/critiquebrainz.png"
      alt="CB" title="CritiqueBrainz">
  </a>
</div>

<h3>
  <a href="{{link}}">{{title}}</a>
  {{#disambiguation}}
  <span class="disambiguation">({{disambiguation}})</span>
  {{/disambiguation}}
</h3>

<p>
  {{status}} release by {{artist}}{{#date}}, {{date}}{{/date}}
</p>
