{{#image}}
<figure>
  <a href="{{link}}"><img src="{{image}}" class="thumbnail"/></a>
{{#image_source}}<figcaption>
    <a href="{{image_source}}" class="image-source">image source</a>
  </figcaption>{{/image_source}}
</figure>
{{/image}}

<h3>
  <a href="{{link}}">{{title}}</a>
  {{#disambiguation}}
  <span class="disambiguation">({{disambiguation}})</span>
  {{/disambiguation}}
</h3>

<p>
  {{status}} release by {{artist}}{{#date}}, {{date}}{{/date}}
</p>
