<div class="external-links">
  <a href="https://critiquebrainz.org/event/{{id}}">
    <img src="/plugins/musicbrainz-onebox/images/critiquebrainz.png"
      alt="CB" title="CritiqueBrainz">
  </a>
</div>

<h3>
  <a href="{{link}}">{{title}}</a>
  {{#disambiguation}}
  <span class="disambiguation">({{disambiguation}})</span>
  {{/disambiguation}}
</h3>

<p>
  {{description}}
  {{#performers}}<br>{{performers}}{{/performers}}
</p>
