{{#image}}
<a href="{{link}}"><img src="{{image}}" class="thumbnail"/></a>
{{/image}}

<div class="external-links">
  <a href="https://acousticbrainz.org/{{id}}">
    <img src="/plugins/musicbrainz-onebox/images/acousticbrainz.png"
      alt="AB" title="AcousticBrainz">
  </a>
</div>

<h3>
  <a href="{{link}}">{{title}}</a>
  {{#disambiguation}}
  <span class="disambiguation">({{disambiguation}})</span>
  {{/disambiguation}}
</h3>

<p>
  {{{description}}}
</p>
