<div class="external-links">
  <a href="https://critiquebrainz.org/event/{{id}}">
    <img src="/plugins/musicbrainz-onebox/images/critiquebrainz.png"
      alt="CB" title="CritiqueBrainz">
  </a>
</div>

<h3>
  <a href="{{link}}">{{title}}</a>
  {{#disambiguation}}
  <span class="disambiguation">({{disambiguation}})</span>
  {{/disambiguation}}
</h3>

<p>
  {{type}}
  {{#place}} at {{place}}{{#area}} in {{area}}{{/area}}{{/place}}{{#begin}}, {{begin}}{{/begin}}{{#end}} &ndash; {{end}}{{/end}}
  {{#performers}}<br>Performers: {{performers}}{{/performers}}
</p>
